USE [master]
GO
/****** Object:  Database [CustomDB]    Script Date: 2/25/2021 1:01:58 PM ******/
CREATE DATABASE [CustomDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CustomDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustomDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CustomDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomDB]
GO
/****** Object:  Table [dbo].[Product_tbl]    Script Date: 2/25/2021 1:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_tbl](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Size] [varchar](10) NULL,
	[Quantity] [int] NULL,
	[StockEntryDate] [date] NULL,
	[Cost_INR] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sell_tbl]    Script Date: 2/25/2021 1:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sell_tbl](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[MRP] [decimal](18, 0) NULL,
	[Discount] [int] NULL,
	[Price_on_discount] [decimal](18, 0) NULL,
	[SP] [decimal](18, 0) NULL,
	[Profit] [decimal](18, 0) NULL,
	[Sell_Date] [date] NULL,
	[Sell_Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_details]    Script Date: 2/25/2021 1:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_details](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[StockEntryDate] [date] NULL,
	[QuantityLeft] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_customDB]    Script Date: 2/25/2021 1:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_customDB]
as
begin

select p.Name, p.Category, s.Discount, s.Sell_Date
from Product_tbl as P
inner join Sell_tbl as S on p.ProductID = s.ProductID

end
GO
USE [master]
GO
